html, body, #root, .App {
  margin: 0;
  height: 100%;
}



/* Grid */
#container {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'item1'
    'item2'
    'item3'
    'item4';
  grid-gap: 5px;
  background-color: white;
  padding: 10px;
}

@media (min-width: 700px) {
  #container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas:
      'header header'
      'item1 item2'
      'item3 item4';
    grid-gap: 5px;
    background-color: white;
    padding: 10px;
  }
}

#container > div {
  background-color: #212120;
  text-align: center;
  color: white;
}

/* Header */
.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.header > h1, p {
  margin: 0
}

/* Item 1 */
.item1 {
  grid-area: item1;
  display: flex;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}